@charset "UTF-8";

/* TODAS AS DEMAIS MÍDIAS */

/* TYPICAL DEVICE BREAKPOINTS

TELAS PEQUENAS: MAX 600px
CELULAR: MIN 600px
TABLET: MIN 768px
DESKTOP: MIN 992px
TELAS GRANDES: MIN 1200px */

@media print {
    body {
        background-image: url(../imagens/back-print.jpg); /*DESNECESSÁRIO*/
    }

    main {
        border: 2px solid black;
    }

    main h1 {
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
    
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
    
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}