body{background-color: blanchedalmond; font-family: Arial, Helvetica, sans-serif; font-size: larger;}
p{text-align: justify;}
h1{background-color: goldenrod; color: darkred; text-decoration: underline;}
h2{color: darkred;}
#alinhado-direita{text-align: right;}